*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-heading{
    margin-bottom: 1rem;
}

.counter-app {
    border: 1px solid black;
    border-radius: 3px;
    min-width: 200px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.countBox {
    font-size: 20px;
    font-weight: 600;
}

.buttonBox {
    display: flex;
    justify-content: space-around;
    min-width: 80%;
}

.btn {
    width: 40px;
    background: green;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-size: 20px;
    font-weight: 700;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn img{
    width: 100%;
}