*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 100;
}

.btn:hover {
    background: #000;
    color: #fff;
}