*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}



.todo-list-container{
    min-width: 300px;
    min-height: 200px;
    border: 1px solid black;
    padding: 1rem;
}

.inputBox{
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
}

.inputBox input {
    /* width: 80%; */
    flex: 1;
    border: 1px solid gray;
    /* border: 0; */
    outline: 0;
    padding: 5px;
    font-size: 18px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;


}

.inputBox button {
    /* width: 20%; */
    margin-left: -3px;
    background: tomato;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 2px 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;

}

.todo-list-container ul li {
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.todo-list-container ul li span {
    font-size: 18px;

}

.task-completed {
    margin-right: 3px;
}
.todo-list-container ul li button {
    position: absolute;
    top: 0;
    right: 0;
    background: tomato;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 2px 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
}

.task-text {
    text-decoration: line-through;
    color: gray;
}