*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    border: 1px solid black;
    padding: 5px;
    max-width: 500px;
    min-height: 150px;
}

.random-quote {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author-box {
    align-self: flex-end;
}