* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  margin-bottom: 1rem;
  color: #4b0082;
}

.digital-clock {
  min-width: 200px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: #494949;
}

.timeNotationBox,
.timeUpdationBox {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}
