*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.stopwatch {
    min-width: 200px;
    min-height: 100px;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.timeUpdationBox{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.stopwatchBtnBox button {
    padding: 10px 15px;
}