*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dictionary-container {
    width: 80%;
    max-width: 470px;
    min-height: 200px;
    border: 1px solid black;
    padding: 5px;
}
.searchBox{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin-bottom: 10px;
}
.searchBox input {
    flex: 1;
    padding: 5px;
}

.searchBox button {
    padding: 5px;
    cursor: pointer;
}
.meaningBox {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin-bottom: 10px;
    text-transform: uppercase;
    column-gap: 10px;
}
#word{
    font-weight: bold;
}
.meaningBox #meaning{
    /* flex: 1; */
}
.exampleBox {
        text-transform: uppercase;

}

.exampleBox p span {
    font-weight: bold;
}