*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dictionary-container {
    min-width: 300px;
    max-width: 600px;
    min-height: 200px;
    /* border: 1px solid black; */
    padding: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 3px;


}
.searchBox{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #000;
    padding: 5px;
}
.searchBox input {
    flex: 1;
    padding: 5px;
    border: 0;
    outline: 0;
}

.searchBox button {
    padding: 5px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: #000;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
}
.meaningBox {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin-bottom: 10px;
    text-transform: uppercase;
    column-gap: 10px;
}
#word{
    font-weight: bold;
}
.meaningBox #meaning{
    /* flex: 1; */
}
.exampleBox {
        text-transform: uppercase;

}

.exampleBox p span {
    font-weight: bold;
}