*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.random-jokes-container{
    width: 40%;
}

.random-jokes{
    border: 1px solid #000;
    width: 100%;
    max-width: 300px;
    min-height: 100px;
    padding: 5px 7px;
    margin-bottom: 10px;
}

.random-jokes p {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.random-jokes p span {
        font-weight: bolder;

}

.random-jokes-container button {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
}