*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.quiz-container{
    border: 1px solid black;
    min-width: 200px;
    min-height: 100px;
    padding: 10px;
}

.quiz-question {
    margin-bottom: 1rem;
}

.quiz-options{
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem
    ;
}

.quiz-options button {
    padding: 5px;
    cursor: pointer;
}

.green{
    background: lightgreen;
    
}

.red{
    background: lightcoral;
}