*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.number-guess-container {
    border: 1px solid black;
    border-radius: 3px;
    padding: 1rem;
    min-width: 300px;
    min-height: 300px;
}

.number-guess-container form {
    width: 100%;
    margin-bottom: 0.5rem;
}

.number-guess-container form input {
    width: 100%;
    padding: 5px 5px;
    outline-color: blue;
}

.number-guess-container button {
    padding: 5px 8px;
    background: #000;
    color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
}
