*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-guess-container {
    border: 1px solid black;
    border-radius: 2px;
    padding: 1rem;
    min-width: 200px;
    min-height: 300px;
}